*{
	box-sizing: border-box;
}
.gallery{
	background-color: #83B3F7;
	display: flex;
	flex-wrap:wrap;
}

.gallery__item{
	background-color: #728299;
	width: calc(100% / 3 - 40px/3);
	/* height: 150px; */
	border: 1px solid black;
	margin-right: 20px;
	margin-bottom: 20px;
}

.gallery__item:NTH-CHILD(3n) {
	margin-right: 0px;
}

.gallery__item__image{
	display: block;
	width: 100%;
	
}

.gallery__item__title{
	text-align: center;
}